/*
 *
 * @package Patchwork
 *
 */
 
th {
	background-color: #63b6b1;
}
a,
a:visited {
	color: #4c2c24;
}
a:hover,
a:focus,
a:active {
	color: #4c2c24;
	border-bottom: 1px dashed #4c2c24;
}
blockquote {
	border-left: 4px solid #e55f49 !important;
}
#masthead {
	background-image:url(../images/patchwork2.jpg);
	border-bottom: 10px solid #4c2c24;
}
#masthead hgroup {
	border: 10px solid #4c2c24;
}
#masthead .site-title,
#masthead .site-title a {
	color: #e55f49;
}
#masthead .site-description {
	color: #4c2c24;
}
.entry-title,
.entry-title a {
	color: #e55f49;
}
h1.page-title {
	color: #4c2c24;
}
.footer-bottom {
	background-image:url(../images/patchwork2.jpg);
	border-top: 30px solid #4c2c24;
}
.main-navigation,
.main-navigation ul li {
	background-color: #63b6b1;
}
h2.widget-title,
h2.widget-title a {
	color: #63b6b1;
}
a.post-edit-link,
a.post-edit-link:hover { 
	background-color: #63b6b1;
}